@import '../../styles/constants.scss';

.wrapper {
    @media (max-width: $sm), (max-width: $md) {
        width: 100vw;
    }
    position: relative;
    z-index: 99;
    opacity: 1;
    transform: none;
    position: sticky;
    top: 0;
    transition: all 300ms ease;
    background-color: $bg;
    
    .container {
        position: relative;
        justify-content: space-between;
        font-weight: 500;

        .name {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .menu {

            @media (max-width: $sm), (max-width: $md) {
                position: absolute;
                overflow: hidden;
                list-style: none;
                gap: 2rem;
                font-weight: 500;
                flex-direction: column;
                right: 0;
                top: 3rem;
                width: 50%;
                min-width: 15rem;
                background-color: #2C3639;
                display: flex;
                border-radius: 2rem;
                transition: all 300ms ease;
                align-items: flex-start;
                justify-content: flex-start;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
                padding: 3rem;
            }

            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1rem;
            gap: 1.5rem;
            cursor: pointer;

            li {
                a {
                    color: inherit;
                    text-decoration: none;
                }

                a:hover {
                    color: $secondary;
                }
            }

            svg {
                color: $secondary;
            }
        }

        .menuIcon {
            @media (min-width: $md) {
                display: none;
            }
        }
    }
}