@import '../../styles/constants.scss';

.wrapper {

    .container {
        flex-direction: column;
        position: relative;
        gap: 2rem;
        
        .experiences {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1.4rem;
            position: relative;

            .exp {
                display: flex;
                width: 100%;
                align-items: flex-start;
                justify-content: space-between;
                line-height: 40px;
                gap: 4rem;
        
                > div {
                    flex: 1;
                }

                .role {
                    margin-left: 2rem;
                }
            }
            .progressBar {
                padding-top: 0.8rem;
                position: absolute;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 1.4rem;
    
                .line {
                    position: absolute;
                    height: 92%;
                    width: 2px;
                    background-image: linear-gradient(white 33%, #191919 0%);
                    background-position: right;
                    background-size: 2px 30px;
                    background-repeat: repeat-y;
                    z-index: 1;
                    border-radius: 5px;
                }

                > div {
                    flex: 1;
                    z-index: 2;

                    .circle {
                        position: absolute;
                        border-radius: 50%;
                        background: black;
                        height: 22px;
                        width: 22px;
                        left: -10px;
                    }
                }
            }
        }
    }
}